#dbt
dbt-snowflake==1.5.1

# gcp
google-cloud-secret-manager==2.16.1

# app
uvicorn==0.21.1
fastapi==0.95.1
pydantic==1.10.7

# auth
pyjwt[crypto]==2.7.0

# internal
inbound-core @ git+https://github.com/navikt/inbound-core@ff36ba4c168dfec2183454fae7fa82b53e179047
snowbird @ git+https://github.com/navikt/snowbird@5e10f2650c640bf17ad8fea601255b9710c5dbe7

#Orchestration
prefect==2.14.3

#Transitative dependencies
cx-Oracle==8.3.0
PyYAML==6.0
